<p>message-crud works!</p>


<form>
  <h1>Add Message</h1>
  <label for="messageDate"></label>
<label for="recipient">Recipient Username</label>
<input type="text" name="recipient" [(ngModel)]="newMessage.recipient.username"><br>
  <label for="content">Content</label>
  <input type="text" name="content" [(ngModel)]="newMessage.content"><br>
  <button class="btn btn-success" (click)="addMessage(newMessage)">Send</button>
</form>
<br><br>
<table>
<thead>
  <tr>
  <td>Date</td>
  <td>Sender Username</td>
  <!-- <td>Delete?</td> -->
</tr>
</thead>
<tbody>
  <tr *ngFor="let message of messages">
    <td (click)="displayMessage(message)">{{ message.messageDate }}></td>
    <td>{{ message.sender.username}}</td>
    <!-- <td> <button class="btn btn-danger" (click)="deleteMessage(message.id)"> X </button></td> -->
  </tr>
</tbody>

<div *ngIf="selected">
  <p>{{ selected.messageDate}}</p>
  <p>{{ selected.sender }}</p>
  <p>{{ selected.content }}</p>
  <!-- <button class="btn btn-outline" (click)="displayTable()">Back</button> -->
  <button class="btn btn-danger" (click)="deleteMessage(selected.id)">
    Delete
  </button>
</div>


</table>

