.card{
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: 5px;
}

#nav-border{
  /* border-bottom: 5px solid black; */

}

#nav-border::after{
  content:'';
  display:block;
  height: 3px;
  width: 100%;
  background-color: #000000ad;

}

#page-top-border{
  border-top: 5px solid black;
}

