<h1>Manage Users</h1>
<table class="col w-75% p-3 h-50 table table-striped table-hover">
  <thead class="table-light">
    <tr>
      <th>Name</th>
      <th>Enable current status</th>
      <th>Disable/Enable</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let adult of adults">
      <td>{{adult.firstName}} {{adult.lastName}} </td>
      <td>{{adult.user?.enabled}}</td>
      <td>
            <!-- <input type="checkbox" name="adult.user.enabled" (change)="updateEnableSpecific(adult, adult.id)" ngModel /> -->
            <mat-slide-toggle (change)="updateEnableSpecific(adult, adult.id)" ngModel ></mat-slide-toggle>
      </td>
    </tr>
  </tbody>
</table>
