<h3>Manage Users</h3>
<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Enable current status</th>
      <th>Disable/Enable</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let adult of adults">
      <td>{{adult.firstName}} {{adult.lastName}} </td>
      <td>{{adult.user?.enabled}}</td>
      <td>
            <!-- Show Enabled<input type="checkbox" name="isEnabled" [(ngModel)]="adult.user.enabled" (change)="updateAdult(adult)"> -->
            <input type="checkbox" name="adult.user.enabled" (change)="updateAdult(adult)" ngModel />
      </td>
    </tr>
  </tbody>
</table>
