<p>register-staff works!</p>
<form>
<label for="username">Username </label>
<input type="text" name="username" [(ngModel)]="newUser.username"><br>

<label for="password">Password </label>
<input type="text" name="password" [(ngModel)]="newUser.password"><br>


<label for="email">First </label>
<input type="text" name="firstName" [(ngModel)]="newStaff.firstName"><br>
<label for="email">Last </label>
<input type="text" name="lastName" [(ngModel)]="newStaff.lastName"><br>
<label for="email">Image </label>
<input type="text" name="imageUrl" [(ngModel)]="newStaff.imageUrl"><br>


<button (click)="registerStaff(newStaff, newUser)">Register</button>

</form>
