<div *ngFor="let kid of kids">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{kid.imageUrl}}" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">{{kid.firstName}} {{kid.lastName}}</h2>
      <!-- <div *ngFor="let guaridan of kid.guardians">   -->
      <p class="card-text">filter guardian for Emergency contact, number</p>
      </div>
      <a class="btn-outline-dark" (click)="checkIn(kid.id)">check in</a>
      <a class="btn btn-primary" (click)="dailyReport(kid)">Daily Report</a>
      <!-- <a class="btn btn-primary" (click)="open(content); selected=kid">Update</a> -->
    </div>
  </div>
  <!-- </div> -->
  <br>
  <div>
    <!-- <button class="btn btn-outline-primary btn-rounded btn-icon" (click)="open(content); selected=null">Add Child</button> -->
    </div>
