<h1>Kids Universe</h1>
<h2>December 2022 News</h2>
<div></div>
 <p>~Hello December~</p><br>
<p> Hello Families,</p> <br>
<div></div>
<p>Reminders:</p><br>
<p>DROP OFF - During the school year, class starts promptly at 8:30. It has become a habitual issue that children are arriving past 8:30 on a daily basis. Morning drop off is ONLY between 7-8:30. Please notify the school in advance if your child will be absent or late. It is important for your child to be on time to class, so they do not disrupt the other children during their work cycle.</p>
<p>Labeling- Please remember to LABEL EVERYTHING, including coats and water bottles. We are constantly running into things not being labeled and we cannot remember which items belong to who each day when it is always different. If items come to school not labeled, we will be marking them with Sharpie. This includes, containers, bottles, bottle lids, extra clothing, nap mats etc. .</p>
<p>PLEASE READ KIDS UNIVERSE MESSAGES AND REPORTS EVERY DAY!! This is our biggest asset when it comes to communication with parents. We can see who reads reports each day and who doesn't, we really need each family to participate in doing this.</p>
<br>
<br>
<p>Sincerely,</p>
<br>
<p>Mrs. Mary</p>
<br>
<p>Head of School</p>

<h3> Check IN and OUT</h3>
<p>Please make sure that you are checking your child IN and OUT each day. This is not optional, it is a requirement. We have a large amount of students who do not get checked in or out at all. This is a state requirement that there is a record of the parent checking them in and out of the center each day.
** Book Fair** & Book Exchange
We are currently hosting a book fair until December 9th. We look forward to this every year, it is always so much fun! It is a great opportunity to replenish your at home libraries or you can buy Christmas gifts for your children/family. Each book purchased at the Scholastic book fair helps us to earn points to purchase books for the classroom libraries. Payment accepted will be CARD only.</p>
<p> December 19th we will have a book exchange in each classroom. We encourage parents to look at the book fair for their book exchange books! Your book needs to be gender neutral, age appropriate and wrapped like a present!</p>
<br>
<p>Teachers will also have individual classroom boxes with their favorite books in them if you'd like to purchase for the classroom.
Please let me know if you have any questions.</p>
<br>
<ul>
<li>Holiday Class Party</li>
<li>Holi
  <br>
<p> Lots will be happening on December 19th as we kick off the holiday break. The school will close at 3:30. </p>

<br>
<p> We will be having a holiday book exchange on December 19th. Please send your child with an age appropriate, gender neutral book, wrapped book by December 16th. ALL Classes will participate in the book exchange.</p>

<br>
<p> December 19th is also pajama day! Please allow your children to wear their pjs to school.</p>
<br>

<p> The Toddler and Primary class will be watching the movie "The Grinch" - 2018 animated version during work cycle - we will have a permission slip for you to sign at the door the week of December 12th.</p>

<h3> **Meet Our Staff** </h3>
<p> Meet Sandra! </p>
<br>
<p> Kolbi is new to our Kids Universe Family this school year and is our Lead Young Toddler teacher. She is currently enrolled in the Kids Universe Certification to become a certified Montessori Teacher for ages 0-3 years.</p>
<p> She was born and raised in Springtown, Texas but she is currently making some big life changes and moving into Weatherford with her cat, Beans.</p>
<p> Teaching has always been a passion of hers and even though she has only been here at MKU for a short time, she already feels at home here. She is excited to continue to teach and love on your little ones.</p>

<h3>  -- NUT FREE SCHOOL -- </h3>
<p> Please remember that we are a nut free school - this includes ALL NUTS (hazelnut (Nutella), almond, peanut, cashew, pecans, pistachios, macadamia nuts, brazil nuts, walnuts etc). Please do not send items with these including almond milk/ breakfast bars, sandwiches etc. </p>
<p> There are children with severe allergies within the school that even react on contact. </p>

<h3><strong> Peanut butter alternatives </strong></h3>


<ul>
<li> WowButter </li>
<li> Granola Butter </li>
<li> Cookie Butter </li>
<li> >Sunflower Butter </li>
<li> Chickpea butter </li>
<li>Soy Butter </li>
<li>Tahini</li>
</ul>
<div>
<!-- ~ School Calendar ~
Here is the link to the 2022-2023 school calendar.



2022-2023 Calendar

A PREVIEW OF THE CURRICULUM
Themes - Holiday Traditions Around the World & Winter
Colors - Green
Letters - d,w,e,n
Shapes - Triangular prism, star, pentagon
Artist Study - Thomas Kincade
Geography - Europe
Practical Life - Sifting and Sweeping
Important Dates
12/1 - Wear Holiday themed clothing to kick off December!
12/9 - Wear an Ugly Christmas Sweater Day
12/16 - Book exchange books due - don't forget to wrap it please!
12/19 - Holiday Party/PJ day and Early Release at 3:30
12/20/2022- 1/2/2023 - SCHOOL CLOSED
**Birthdays**
12/5 - Quinn S.
12/8 - Ireland O.
12/19 - Ali P.
12/20 - Beckett P.
12/26 - Sarah W.


When it is your child's birthday, please feel free to send a special store bought snack for their classmates to eat during their afternoon snack time, we prefer low sugar if it all possible and NO nuts.

MKU Material Spotlight
MKU Material Spotlight
The purpose of the Brown Stair is to enhance the child’s ability to discriminate between different sizes of objects. This material focuses on differences in two dimensions: width and height. By handling each piece individually, with either one or two hands as necessary, the differences in their dimensions is demonstrated through both sight and touch. Handling two pieces at the same time provides further reinforcement of their differences in both size and weight. As with many other Montessori teaching materials, an emphasis is placed on a system of ten which helps prepare the child for introductions to math operations later on.


These cubes develop visual and muscle perception of dimension. Your child will be able to begin understanding different mathematical concepts by using this material. -->
</div>
