<ngb-carousel *ngIf="images">
	<ng-template ngbSlide>
		<div>
			<img class="picsum-img-wrapper" [src]="images[0]" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
      <h2>Enrollment</h2>
			<p>For enrollment information and questions please call us at 907-123-4567 or email admin@ku.com.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div>
			<img class="picsum-img-wrapper" [src]="images[1]" alt="Random second slide" />
		</div>
		<div class="carousel-caption">
      <h2>Welcome!</h2>
			<p>Kids Universe is happy to provide a warm and loving environment for all children.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div>
			<img class="picsum-img-wrapper" [src]="images[2]" alt="Random third slide" />
		</div>
		<div class="carousel-caption">
			<h2>Montessori Learning</h2>
			<p>At Kids Universe we teach using Montessori methods for best learning practices.</p>
		</div>
	</ng-template>
</ngb-carousel>



<!-- <h1><strong>Kids Universe</strong></h1>
<h2><strong>December 2022 News</strong></h2>
<div></div>
 <p><strong>~Hello December~</strong></p><br>
<p> Hello Families,</p> <br>
<div></div>
<p>Reminders:</p><br>
<p>DROP OFF - During the school year, class starts promptly at 8:30. It has become a habitual issue that children are arriving past 8:30 on a daily basis. Morning drop off is ONLY between 7-8:30. Please notify the school in advance if your child will be absent or late. It is important for your child to be on time to class, so they do not disrupt the other children during their work cycle.</p>
<p>Labeling- Please remember to LABEL EVERYTHING, including coats and water bottles. We are constantly running into things not being labeled and we cannot remember which items belong to who each day when it is always different. If items come to school not labeled, we will be marking them with Sharpie. This includes, containers, bottles, bottle lids, extra clothing, nap mats etc. .</p>
<p>PLEASE READ KIDS UNIVERSE MESSAGES AND REPORTS EVERY DAY!! This is our biggest asset when it comes to communication with parents. We can see who reads reports each day and who doesn't, we really need each family to participate in doing this.</p>
<br>
<br>
<p>Sincerely,</p>
<br>
<p>Mrs. Mary</p>
<p>Head of School</p>
<br>
  <h3><strong>** Book Fair** & Book Exchange</strong></h3>
<ul>
<li>We are currently hosting a book fair until December 9th. We look forward to this every year, it is always so much fun! It is a great opportunity to replenish your at home libraries or you can buy Christmas gifts for your children/family. Each book purchased at the Scholastic book fair helps us to earn points to purchase books for the classroom libraries. Payment accepted will be CARD only.</li>
<li>December 19th we will have a book exchange in each classroom. We encourage parents to look at the book fair for their book exchange books! Your book needs to be gender neutral, age appropriate and wrapped like a present!</li>
<li>Teachers will also have individual classroom boxes with their favorite books in them if you'd like to purchase for the classroom.
Please let me know if you have any questions.</li>
</ul>
<h3><strong>Holiday Class Party</strong></h3>
<br>
<ul>
<li> Lots will be happening on December 19th as we kick off the holiday break. The school will close at 3:30. </li>
<li> We will be having a holiday book exchange on December 19th. Please send your child with an age appropriate, gender neutral book, wrapped book by December 16th. ALL Classes will participate in the book exchange.</li>
<li> December 19th is also pajama day! Please allow your children to wear their pjs to school.</li>
<li> The Toddler and Primary class will be watching the movie "The Grinch" - 2018 animated version during work cycle - we will have a permission slip for you to sign at the door the week of December 12th.</li>
</ul>
<h3> **Meet Our Staff** </h3>
<p> Meet Sandra! </p>
<br>
<p> Sandra is new to our Kids Universe Family this school year and is our Lead Young Toddler teacher. She is currently enrolled in the Kids Universe Certification to become a certified Montessori Teacher for ages 0-3 years.</p>
<p> She was born and raised in SpringField, USA but she is currently making some big life changes and moving into Weatherford with her cat, Beans.</p>
<p> Teaching has always been a passion of hers and even though she has only been here at Kids Universe for a short time, she already feels at home here. She is excited to continue to teach and love on your little ones.</p>
<h3> <strong> -- NUT FREE SCHOOL -- </strong></h3>
<p> Please remember that we are a nut free school - this includes ALL NUTS (hazelnut (Nutella), almond, peanut, cashew, pecans, pistachios, macadamia nuts, brazil nuts, walnuts etc). Please do not send items with these including almond milk/ breakfast bars, sandwiches etc. </p>
<p> There are children with severe allergies within the school that even react on contact. </p>
<h3><strong> Peanut butter alternatives </strong></h3>
<ul>
<li> WowButter </li>
<li> Granola Butter </li>
<li> Cookie Butter </li>
<li> >Sunflower Butter </li>
<li> Chickpea butter </li>
<li>Soy Butter </li>
<li>Tahini</li>
</ul>
<br>
<br>
<div>
<p><strong>~ School Calendar ~</strong></p>
<br>
<p> A PREVIEW OF THE CURRICULUM </p>
<ul>
<li>  Themes - Holiday Traditions Around the World & Winter </li>
  <li>Colors - Green</li>
  <li>Letters - d,w,e,n</li>
  <li>Shapes - Triangular prism, star, pentagon</li>
<li>Artist Study - Thomas Kincade</li>
<li>Geography - Europe</li>
<li>Practical Life - Sifting and Sweeping</li>
</ul>
<br>
<h3>Important Dates</h3>
<ul>
<li>12/1 - Wear Holiday themed clothing to kick off December!</li>
<li>12/9 - Wear an Ugly Christmas Sweater Day</li>
<li>12/16 - Book exchange books due - don't forget to wrap it please!</li>
<li>12/19 - Holiday Party/PJ day and Early Release at 3:30</li>
<li>12/20/2022- 1/2/2023 - SCHOOL CLOSED</li>
</ul>
<h3>**Birthdays**</h3>
<ul>
<li>12/5 - Sam S.</li>
<li>12/8 - Jenny O.</li>
<li>12/19 - Rob L.</li>
<li>12/20 - Becky G.</li>
<li>>12/26 - Jamie J.</li>
</ul>
<br>
<p>When it is your child's birthday, please feel free to send a special store bought snack for their classmates to eat during their afternoon snack time, we prefer low sugar if it all possible and NO nuts.</p>
<br>
<br>
</div> -->
