<p>Add Child</p>
<br>
<label for="firstName">First Name </label>
<input type="text" name="firstName" [(ngModel)]="newKid.firstName"><br>

<label for="lastName">Last Name </label>
<input type="text" name="lastName" [(ngModel)]="newKid.lastName"><br>

<label for="birthday">Birthday </label>
<input type="text" name="birthday" [(ngModel)]="newKid.birthday"><br>

<label for="imageUrl">Image URL </label>
<input type="imageUrl" name="imageUrl" [(ngModel)]="newKid.imageUrl"><br>

<!-- <button (click)="addKid(newKid)">Submit Record</button> -->

<Form>




</Form>


