<div class="container">
  <div class="row">
    <div class="col" *ngFor="let kid of kids">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="{{ kid.imageUrl }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h2 class="card-title">{{ kid.firstName }} {{ kid.lastName }}</h2>
          <p class="card-text">
            {{ inSessionAdult.firstName }} {{ inSessionAdult.lastName }},
            {{ inSessionAdult.phoneNumber }}
          </p>
          <div class="btn-toolbar">
            <button (click)="showReports(kid.id)" class="btn btn-outline-secondary btn-sm">
              View Report
            </button>
             <button
              class="btn btn-secondary btn-sm"
              (click)="open(content); selected = kid"
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div>
      <button
        class="btn btn-outline-success btn-rounded btn-sm"
        (click)="open(content); selected = null"
      >
        Add Child
      </button>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h2 *ngIf="selected" class="modal-title" id="modal-basic-title">
      Edit Child
    </h2>
    <h2 *ngIf="!selected" class="modal-title" id="modal-basic-title">
      Add Child
    </h2>
    <button
      type="button btn-sm"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form *ngIf="selected">
      <div class="form-group">
        <label for="firstName">First Name </label>
        <div class="input-group">
          <div>
            <input
              type="text"
              name="firstName"
              [(ngModel)]="selected.firstName"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <div class="input-group">
          <div>
            <input
              type="text"
              name="lastName"
              [(ngModel)]="selected.lastName"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
            <label for="birthday">Birthday</label>
            <div class="input-group">
              <div>
                <input
                  type="date"
                  class="form-group"
                  name="timeStart"
                  [(ngModel)]="selected.birthday"
                />
              </div>
            </div>
          </div>
      <div class="form-group">
        <label for="imageUrl">Image</label>
        <div class="input-group">
          <div></div>
          <input type="text" name="imageUrl" [(ngModel)]="selected.imageUrl" />
        </div>
      </div>
    </form>

    <form *ngIf="!selected">
      <div class="mb-3">
        <label for="firstName">First Name</label>
        <div class="input-group">
          <div>
            <input
              type="text"
              name="firstName"
              [(ngModel)]="newKid.firstName"
            />
          </div>
        </div>
        <label for="lastName">Last Name</label>
        <div class="input-group">
          <div>
            <input type="text" name="lastName" [(ngModel)]="newKid.lastName" />
          </div>
        </div>
        <label for="birthday">Birthday</label>
        <div class="input-group">
          <div>
            <input
              type="date"
              class="form-group"
              name="timeStart"
              [(ngModel)]="newKid.birthday"
            />
          </div>
        </div>
        <label for="imageUrl">Image</label>
        <div class="input-group">
          <div>
            <input type="text" name="imageUrl" [(ngModel)]="newKid.imageUrl" />
          </div>
        </div>
        <label for="relationship">Relationship</label>
        <div class="input-group">
          <div>
            <input type="text" name="relationship" [(ngModel)]="relationship" />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="selected">
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="updateKid(selected)"
        routerLinkActive="router-link-active"
        (click)="modal.close('Save click')"
      >
        Save
      </button>
    </div>
  </div>
  <div *ngIf="!selected">
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="addKid(newKid, relationship)"
        (click)="modal.close('Save click')"
      >
        Add Child
      </button>
    </div>
  </div>
</ng-template>
