<div *ngIf="inSessionUser.role === 'user'">
<form>
<label for="firstName">First Name: </label>
<input type="text" name="firstName" required [(ngModel)]="inSessionAdult.firstName"><br>
<label for="lastName">Last Name</label>
<input type="text" name="lastName" required [(ngModel)]="inSessionAdult.lastName"><br>
<label for="imageUrl">Image: </label>
<input type="text" name="imageUrl" [(ngModel)]="inSessionAdult.imageUrl"><br>
<label for="phoneNumber">Phone: </label>
<input type="text" name="phoneNumber" required [(ngModel)]="inSessionAdult.phoneNumber"><br>
<!-- toggle button for e-contact boolean -->

<label for="emergencyContact">Are you the emergency contact? </label>
<input type="checkbox" required name="emergencyContact" [(ngModel)]="inSessionAdult.emergencyContact"> <br>


<label for="street">Street: </label>
<input type="text" name="street" required [(ngModel)]="inSessionAdult.address.street"><br>
<label for="email">City: </label>
<input type="text" name="city" required [(ngModel)]="inSessionAdult.address.city"><br>
<label for="email">State: </label>
<input type="text" name="state" required [(ngModel)]="inSessionAdult.address.state"><br>
<label for="zip">Zip: </label>
<input type="text" name="zip" required [(ngModel)]="inSessionAdult.address.zip"><br>
<button (click)="updateAdult(inSessionAdult)">Update</button>
</form>
</div>
<!-- notify on save, easily done with modal -->

<div *ngIf="inSessionUser.role === 'staff'">
  <form>

    <label for="firstName">First </label>
    <input type="text" name="firstName" [(ngModel)]="inSessionStaff.firstName"><br>
    <label for="lastName">Last </label>
    <input type="text" name="lastName" [(ngModel)]="inSessionStaff.lastName"><br>
    <label for="imageUrl">Image </label>
    <input type="text" name="imageUrl" [(ngModel)]="inSessionStaff.imageUrl"><br>

    <button (click)="updateStaff(inSessionStaff)">Update</button>
    </form>
    </div>


