<p>register-adult works!</p>
<label for="username">Username </label>
<input type="text" name="username" [(ngModel)]="newUser.username"><br>

<label for="password">Password </label>
<input type="text" name="password" [(ngModel)]="newUser.password"><br>


<label for="email">First </label>
<input type="text" name="firstName" [(ngModel)]="newAdult.firstName"><br>
<label for="email">Last </label>
<input type="text" name="lastName" [(ngModel)]="newAdult.lastName"><br>
<label for="email">Image </label>
<input type="text" name="imageUrl" [(ngModel)]="newAdult.imageUrl"><br>
<label for="email">Phone </label>
<input type="text" name="phone" [(ngModel)]="newAdult.phoneNumber"><br>
<!-- toggle button for e-contact boolean -->
<label for="email">Emergency Contact </label>
<input type="text" name="phone" [(ngModel)]="newAdult.emergencyContact"><br>


<label for="email">First </label>
<input type="text" name="firstName" [(ngModel)]="newAdult.firstName"><br>
<label for="email">First </label>
<input type="text" name="firstName" [(ngModel)]="newAdult.firstName"><br>
<label for="email">First </label>
<input type="text" name="firstName" [(ngModel)]="newAdult.firstName"><br>

<button (click)="registerAdult(newAdult, newUser)">Register</button>
