.navbar-brand {
  letter-spacing: 3px;
  color: #662f30;
}

.navbar-brand:hover {
	color: #ffffff;
}

.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
  color: #7f4722;
  font: bold;
  font-weight: bold;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
  color: #7f4722;
  font: bold;
  font-weight: bold;
}

.navbar-scrolled {
  background-color: #ffede7;
  font: bold;
  font-weight: bold;
}

.navbar{
  background-image: url("/assets/navbar-bg2.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center;
  /* height: 100%; */
  font: bolder;
  font-weight: bolder;
  font-size: larger;
}

#navbarTogglerDemo01{
  align-items: baseline;
}
li{
  font-size: 20px;
  font-weight: bold;
}

.settings{
  text-align: right;
  align-items: right;
}

#home{
  color: aqua;
}

.navbar-brand {
  color: rgb(85, 85, 238);
  text-shadow: #ffede7;
  color: white;
  font-size: 25px;
      text-shadow:
      0.05em 0 black,
      0 0.05em black,
      -0.05em 0 black,
      0 -0.05em black,
      -0.05em -0.05em black,
      -0.05em 0.05em black,
      0.05em -0.05em black,
      0.05em 0.05em black;
}

.nav-link {
  color: rgb(85, 85, 238);
  text-shadow: #ffede7;
  color: white;
  font-size: 20px;
      text-shadow:
      0.05em 0 black,
      0 0.05em black,
      -0.05em 0 black,
      0 -0.05em black,
      -0.05em -0.05em black,
      -0.05em 0.05em black,
      0.05em -0.05em black,
      0.05em 0.05em black;
}
.icon-edit{
  text-shadow: #ffede7;
  color: white;
  font-size: 20px;
      text-shadow:
      0.05em 0 black,
      0 0.05em black,
      -0.05em 0 black,
      0 -0.05em black,
      -0.05em -0.05em black,
      -0.05em 0.05em black,
      0.05em -0.05em black,
      0.05em 0.05em black;
}


