<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" [routerLink]="['/home']">Home</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/about']">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']">Contact</a>
        </li>
        <li *ngIf="!loggedIn()" class="nav-item">
          <a class="nav-link" style="float:right" [routerLink]="['/guardian-home']">Login</a>
        </li>
        <li class="nav-item" *ngIf="!loggedIn()">
          <a class="nav-link" style="float:right" [routerLink]="['/register']">Register</a>
        </li>
        <li *ngIf="!loggedIn()">
          <app-login></app-login>
        </li>
        <li *ngIf="loggedIn()">
          <app-logout></app-logout>
        </li>
        <li *ngIf="loggedIn()">
          <a class="nav-link" [routerLink]="['/contact']">Contact</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
